# Requirements

1. Leev is a leave management system.

2. User can have Admin privilege.

3. User can use this system to apply for leave.

4. Admin can use this system to approve and reject leave application.

5. User can see annual leave balance.

6. User can see who has applied for leave. This info is presented on a calendar.

7. The basic unit of leave duration is hour.

8. Admin can help member to apply for leave.

9. Fields in leave application form:

- Leave Type
- From
- To
- Reason (Not required for annual leave)

10. Record created_by, created_at, modified_by, modified_at for each data.

11. Use cookie and session technology. Do not use JWT technology.

12. Render HTML page at server side. Do not render at client side.

13. Approved leave application can be cancelled by user.

14. Use Postgresql.

15. User can be inactivated.

16. All records of inactive user cannot be modified.

17. Inactive user cannot login.

18. Authenticate on application layer. Check for data integrity on database layer.

19. Try to make normal request, not AJAX request, to submit form on browser. Try to rely on JavaScript less.

20. If there is any error when user submit a form, server should redirect back to that form, fill in form with old input data, and print suitable error message.

